@import 'vendor/wmui-base.css';
@import 'partials/fonts.css';
@import 'vendor/normalize.css';

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var( --background-color-base );
	color: var( --color-base );
	margin: 0;
	font-family: 'Lato', sans-serif; /* FIXME */
	font-size: 1.6rem;
	line-height: 1.6;
}

/* ::: Text Block-Level Elements ::: */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
	font-family: 'Charter', serif; /* FIXME */
	font-weight: normal; /* FIXME */
}

p {
	margin: 1.6rem 0 0;
}
	h1 + p,
	h2 + p,
	h3 + p,
	h4 + p,
	h5 + p,
	h6 + p,
	p + p,
	p:first-child {
		margin: 0.8rem 0 0;
	}

img {
	display: block;
	max-width: 100%;
	margin: 1.6rem 0 0;
}

/* ::: Inline Elements ::: */
a {
	color: var( --color-primary );
	text-decoration: none;
}

code {
	background-color: var( --background-color-code );
	display: inline-block;
	padding: 0.2rem 0.4rem;
}

/* ::: General Classes ::: */
/* ::: Text for Screen Readers only ::: */
.is-aural {
	display: block;
	position: absolute;
	clip: rect( 1px, 1px, 1px, 1px );
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	overflow: hidden;
}
	.is-aural.is-focusable:active,
	.is-aural.is-focusable:focus {
		position: static;
		clip: auto;
		width: auto;
		height: auto;
		margin: 0;
		text-decoration: underline;
		overflow: visible;
	}


/* ::: Structure ::: */
.header {
	background-color: #eaecf0;
	min-height: 5.6rem;
}
	.site__title {
		color: var( --color-base-emphasized );
		margin-top: 0;
		padding-left: 23.2rem;
	}

.content-box,
.box {
	max-width: 96rem;
	margin: 0 auto;
}

.content {
	float: left;
	width: 72.8rem;
}

.toc {
	float: left;
	width: 23.2rem;
	margin-top: 1.2rem;
	padding: 0 3.2rem 0 0;
}

	.toc ol,
	.toc ul {
		padding: 0;
	}

	.toc li {
		list-style: none none;
	}
	.toc li:not( .is-on ) ul {
		display: none;
	}

	.toc a {
		display: block;
		padding: 0.8rem 1.2rem;
		font-size: 18px;
		text-decoration: none;
		transition: background-color var( --transition-medium );
	}
	.toc a:hover,
	.toc a:focus {
		background-color: var( --background-color-code );
	}
	.toc .is-on > a {
		background-color: var( --background-color-primary );
		color: var( --color-primary );
		border-left: 2px solid var( --color-primary );
		border-radius: var( --border-radius-base );
		pointer-events: none;
		cursor: default;
	}

	.toc__sub-sections a { /* stylelint-disable-line no-descending-specificity */
		padding-left: 2.4rem;
		font-size: 16px;
	}

.footer {
	clear: both;
	font-size: 1.2rem;
	margin-bottom: 2.4rem;
	padding-top: 2.4rem;
	padding-left: 23.2rem;
}


/* ::: Content ::: */
/* ... Color ... */
.color-palette {
	margin-top: 2.4rem;
}

.color-palette ol {
	margin: 0;
	padding: 0;
}
.color-palette li {
	list-style: none none;
	display: inline-block;
	width: 19.6rem;
	margin-right: 1.6rem;
	margin-bottom: 3.2rem;
}

.color-name {
	padding: 0 1.2rem;
	font-weight: bold;
}

.color-swatch {
	position: relative;
	height: 19.6rem;
	border-radius: var( --border-radius-base );
	padding: 1.2rem;
	font-size: 1.4rem;
}
	.color-dark {
		color: #fff; /* FIXME: variable */
	}
	.color-code {
		background-color: inherit;
		display: block;
		padding: 0;
		font-family: 'Lato', sans-serif;
	}
	.color-code:first-child {
		margin-top: 4.8rem;
	}

	.color-wcag-level {
		display: block;
		display: block;
		position: absolute;
		bottom: 1.2rem;
		left: 1.2rem;
	}

	.color-desc {
		color: #54595d; /* FIXME */
		float: left;
		display: block;
		margin-top: 0.8rem;
		padding: 0 1.2rem;
		font-size: 1.3rem;
	}
