/**
 * WikimediaUI base v0.7.1
 * Wikimedia Foundation user interface base variables
 */
/* stylelint-disable */
:root {
	/* Colors */
	/* WikimediaUI (WMUI) color palette */    /* = HSB 0°, 0%, 0% */    /* = HSB 0°, 0%, 13% */ /* = HSB 207°, 10%, 36%; WCAG 2.0 level AAA 7.09:1 contrast ratio on `#fff` */ /* = HSB 210°, 9%, 49%; WCAG 2.0 level AA at 4.52:1 contrast ratio on `#fff` */ /* = HSB 212°, 8%, 69% */ /* = HSB 213°, 4%, 82% */ /* = HSB 220°, 3%, 94% */ /* = HSB 210°, 1%, 98% */    /* = HSB 0°, 0%, 100% */ /* = HSB 220°, 70%, 55% */    /* = HSB 220°, 75%, 80% */ /* = HSB 214°, 8%, 100% */ /* = HSB 360°, 80%, 70% */    /* = HSB 360°, 77%, 87% */ /* = HSB 3°, 9%, 100% */ /* = HSB 36°, 100%, 67% */    /* = HSB 45°, 80%, 100% */ /* = HSB 39°, 9%, 100% */ /* = HSB 167°, 85%, 53% */ /* = HSB 167°, 100%, 69% */ /* = HSB 166°, 16%, 99% */

	/* Background Colors */
	/* 'Framed' UI elements (Framed Buttons, Dropdowns, ToggleSwitches...) */
	/* RGBA Colors include hex fallback on `#fff` for IE 6/7/8 */

	/* Foreground Colors */
	/* Primary 'Progressive' Color, Background Color and states */ /* = `filter: brightness( 109% )` */
	/* 'Destructive' Color, Background Color and states */ /* ~= `filter: brightness( 120% )` */
	/* Secondary Color and states (links only) */


	/* Opacity */ /* = `#7d7d7d` on `background-color: #fff`; HSB 0°, 0%, 49% */


	/* Positioning */
	/* Z-Index */


	/* Box Model properties */
	/* Max Widths */ /* = `460px` at `16px` base, see T95367 */

	/* Border */
	/* Border Colors */
	/* Border Widths */
	/* Border Radius */

	/* Box Shadows */


	/* Typography incl. print properties */
	/* Font Families */
	/* Line Heights */
	/* Text Shadows */ /* 'coined' effect */


	/* Other Properties */
	/* Cursors */


	/* Animation & Transition */
	/* Transitions */
	/* Transitions > Durations */
}
@font-face {
	font-family: 'Charter';
	src: url( '../fonts/Charter_regular.eot' ); /* IE 9 Compat Modes */
	src: url( '../fonts/Charter_regular.eot?#iefix' ) format( 'embedded-opentype' ), /* IE 6 - IE 8 */
		 url( '../fonts/Charter_regular.woff2' ) format( 'woff2' ),
		 url( '../fonts/Charter_regular.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 400;
	text-rendering: optimizeLegibility; /* Attention: Android Stock Browser <= 4.3 doesn't show web font with this setting, but it also doesn't support WOFF :) */
}
@font-face {
	font-family: 'Charter';
	src: url( '../fonts/Charter_bold.eot' );
	src: url( '../fonts/Charter_bold.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/Charter_bold.woff2' ) format( 'woff2' ),
		 url( '../fonts/Charter_bold.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 700;
	text-rendering: optimizeLegibility;
}
/*
@font-face {
	font-family: 'Charter';
	src: url( '../fonts/Charter_italic.eot' );
	src: url( '../fonts/Charter_italic.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/Charter_italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Charter_italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}
@font-face {
	font-family: 'Charter';
	src: url( '../fonts/Charter_bold-italic.eot' );
	src: url( '../fonts/Charter_bold-italic.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/Charter_bold-italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Charter_bold-italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 700;
	text-rendering: optimizeLegibility;
}*/
/*
@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_black.eot' );
	src: url( '../fonts/Lato_black.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/Lato_black.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_black.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 900;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_black-italic.eot' );
	src: url( '../fonts/Lato_black-italic.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/Lato_black-italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_black-italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 900;
	text-rendering: optimizeLegibility;
}
*/
@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_bold.eot' );
	src: url( '../fonts/Lato_bold.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/Lato_bold.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_bold.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 700;
	text-rendering: optimizeLegibility;
}
@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_bold-italic.eot' );
	src: url( '../fonts/Lato_bold-italic.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/Lato_bold-italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_bold-italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 700;
	text-rendering: optimizeLegibility;
}
/*
@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_hairline.eot' );
	src: url( '../fonts/Lato_hairline.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/Lato_hairline.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_hairline.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 100;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_hairline-italic.eot' );
	src: url( '../fonts/Lato_hairline-italic.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/Lato_hairline-italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_hairline-italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 100;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_heavy.eot' );
	src: url( '../fonts/Lato_heavy.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/Lato_heavy.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_heavy.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 800;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_heavy-italic.eot' );
	src: url( '../fonts/Lato_heavy-italic.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/Lato_heavy-italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_heavy-italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 800;
	text-rendering: optimizeLegibility;
}
*/
@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_italic.eot' );
	src: url( '../fonts/Lato_italic.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/Lato_italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}
@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_light.eot' );
	src: url( '../fonts/Lato_light.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/Lato_light.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_light.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}
@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_light-italic.eot' );
	src: url( '../fonts/Lato_light-italic.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/Lato_light-italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_light-italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}
/*
@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_medium.eot' );
	src: url( '../fonts/Lato_medium.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/Lato_medium.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_medium.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 500;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_medium-italic.eot' );
	src: url( '../fonts/Lato_medium-italic.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/Lato_medium-italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_medium-italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 500;
	text-rendering: optimizeLegibility;
}
*/
@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_regular.eot' );
	src: url( '../fonts/Lato_regular.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/Lato_regular.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_regular.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}
/*
@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_semi-bold.eot' );
	src: url( '../fonts/Lato_semi-bold.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/Lato_semi-bold.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_semi-bold.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 600;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_semi-bold-italic.eot' );
	src: url( '../fonts/Lato_semi-bold-italic.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/Lato_semi-bold-italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_semi-bold-italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 600;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_thin.eot' );
	src: url( '../fonts/Lato_thin.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/Lato_thin.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_thin.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 200;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_thin-italic.eot' );
	src: url( '../fonts/Lato_thin-italic.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/Lato_thin-italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_thin-italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 200;
	text-rendering: optimizeLegibility;
}
*/
/**
 * WikimediaUI Grid
 *
 * This grid is largely inspired from Twitter Bootstrap v4 Grid.
 */
/* stylelint-disable function-url-quotes, selector-list-comma-newline-after, media-feature-no-missing-punctuation */
:root {

	/** Breakpoints -- FIXME **/

	/** Max widths -- FIXME **/
}
/** Fixed box **/
.content-box {
	margin-right: auto;
	margin-left: auto;
	padding-left: 1.6rem;
	padding-right: 1.6rem;
}
@media ( min-width: 576px ) {
	.content-box {
		width: 540px;
	}
}
@media ( min-width: 767px ) {
	.content-box {
		width: 720px;
	}
}
@media ( min-width: 992px ) {
	.content-box {
		width: 960px;
	}
}
@media ( min-width: 1200px ) {
	.content-box {
		width: 1140px;
	}
}
/*
.content-box--fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: var( --grid-padding );
	padding-right: var( --grid-padding );
}
*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: left;
}
.col-xs-12 {
	width: 100%;
}
.col-xs-11 {
	width: 91.66666667%;
}
.col-xs-10 {
	width: 83.33333333%;
}
.col-xs-9 {
	width: 75%;
}
.col-xs-8 {
	width: 66.66666667%;
}
.col-xs-7 {
	width: 58.33333333%;
}
.col-xs-6 {
	width: 50%;
}
.col-xs-5 {
	width: 41.66666667%;
}
.col-xs-4 {
	width: 33.33333333%;
}
.col-xs-3 {
	width: 25%;
}
.col-xs-2 {
	width: 16.66666667%;
}
.col-xs-1 {
	width: 8.33333333%;
}
.col-xs-pull-12 {
	right: 100%;
}
.col-xs-pull-11 {
	right: 91.66666667%;
}
.col-xs-pull-10 {
	right: 83.33333333%;
}
.col-xs-pull-9 {
	right: 75%;
}
.col-xs-pull-8 {
	right: 66.66666667%;
}
.col-xs-pull-7 {
	right: 58.33333333%;
}
.col-xs-pull-6 {
	right: 50%;
}
.col-xs-pull-5 {
	right: 41.66666667%;
}
.col-xs-pull-4 {
	right: 33.33333333%;
}
.col-xs-pull-3 {
	right: 25%;
}
.col-xs-pull-2 {
	right: 16.66666667%;
}
.col-xs-pull-1 {
	right: 8.33333333%;
}
.col-xs-pull-0 {
	right: auto;
}
.col-xs-push-12 {
	left: 100%;
}
.col-xs-push-11 {
	left: 91.66666667%;
}
.col-xs-push-10 {
	left: 83.33333333%;
}
.col-xs-push-9 {
	left: 75%;
}
.col-xs-push-8 {
	left: 66.66666667%;
}
.col-xs-push-7 {
	left: 58.33333333%;
}
.col-xs-push-6 {
	left: 50%;
}
.col-xs-push-5 {
	left: 41.66666667%;
}
.col-xs-push-4 {
	left: 33.33333333%;
}
.col-xs-push-3 {
	left: 25%;
}
.col-xs-push-2 {
	left: 16.66666667%;
}
.col-xs-push-1 {
	left: 8.33333333%;
}
.col-xs-push-0 {
	left: auto;
}
.col-xs-offset-12 {
	margin-left: 100%;
}
.col-xs-offset-11 {
	margin-left: 91.66666667%;
}
.col-xs-offset-10 {
	margin-left: 83.33333333%;
}
.col-xs-offset-9 {
	margin-left: 75%;
}
.col-xs-offset-8 {
	margin-left: 66.66666667%;
}
.col-xs-offset-7 {
	margin-left: 58.33333333%;
}
.col-xs-offset-6 {
	margin-left: 50%;
}
.col-xs-offset-5 {
	margin-left: 41.66666667%;
}
.col-xs-offset-4 {
	margin-left: 33.33333333%;
}
.col-xs-offset-3 {
	margin-left: 25%;
}
.col-xs-offset-2 {
	margin-left: 16.66666667%;
}
.col-xs-offset-1 {
	margin-left: 8.33333333%;
}
.col-xs-offset-0 {
	margin-left: 0%;
}
@media ( min-width: 720px ) {
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		padding-left: 1.6rem;
		padding-right: 1.6rem;
	}

	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: left;
	}

	.col-sm-12 {
		width: 100%;
	}

	.col-sm-11 {
		width: 91.66666667%;
	}

	.col-sm-10 {
		width: 83.33333333%;
	}

	.col-sm-9 {
		width: 75%;
	}

	.col-sm-8 {
		width: 66.66666667%;
	}

	.col-sm-7 {
		width: 58.33333333%;
	}

	.col-sm-6 {
		width: 50%;
	}

	.col-sm-5 {
		width: 41.66666667%;
	}

	.col-sm-4 {
		width: 33.33333333%;
	}

	.col-sm-3 {
		width: 25%;
	}

	.col-sm-2 {
		width: 16.66666667%;
	}

	.col-sm-1 {
		width: 8.33333333%;
	}

	.col-sm-pull-12 {
		right: 100%;
	}

	.col-sm-pull-11 {
		right: 91.66666667%;
	}

	.col-sm-pull-10 {
		right: 83.33333333%;
	}

	.col-sm-pull-9 {
		right: 75%;
	}

	.col-sm-pull-8 {
		right: 66.66666667%;
	}

	.col-sm-pull-7 {
		right: 58.33333333%;
	}

	.col-sm-pull-6 {
		right: 50%;
	}

	.col-sm-pull-5 {
		right: 41.66666667%;
	}

	.col-sm-pull-4 {
		right: 33.33333333%;
	}

	.col-sm-pull-3 {
		right: 25%;
	}

	.col-sm-pull-2 {
		right: 16.66666667%;
	}

	.col-sm-pull-1 {
		right: 8.33333333%;
	}

	.col-sm-pull-0 {
		right: auto;
	}

	.col-sm-push-12 {
		left: 100%;
	}

	.col-sm-push-11 {
		left: 91.66666667%;
	}

	.col-sm-push-10 {
		left: 83.33333333%;
	}

	.col-sm-push-9 {
		left: 75%;
	}

	.col-sm-push-8 {
		left: 66.66666667%;
	}

	.col-sm-push-7 {
		left: 58.33333333%;
	}

	.col-sm-push-6 {
		left: 50%;
	}

	.col-sm-push-5 {
		left: 41.66666667%;
	}

	.col-sm-push-4 {
		left: 33.33333333%;
	}

	.col-sm-push-3 {
		left: 25%;
	}

	.col-sm-push-2 {
		left: 16.66666667%;
	}

	.col-sm-push-1 {
		left: 8.33333333%;
	}

	.col-sm-push-0 {
		left: auto;
	}

	.col-sm-offset-12 {
		margin-left: 100%;
	}

	.col-sm-offset-11 {
		margin-left: 91.66666667%;
	}

	.col-sm-offset-10 {
		margin-left: 83.33333333%;
	}

	.col-sm-offset-9 {
		margin-left: 75%;
	}

	.col-sm-offset-8 {
		margin-left: 66.66666667%;
	}

	.col-sm-offset-7 {
		margin-left: 58.33333333%;
	}

	.col-sm-offset-6 {
		margin-left: 50%;
	}

	.col-sm-offset-5 {
		margin-left: 41.66666667%;
	}

	.col-sm-offset-4 {
		margin-left: 33.33333333%;
	}

	.col-sm-offset-3 {
		margin-left: 25%;
	}

	.col-sm-offset-2 {
		margin-left: 16.66666667%;
	}

	.col-sm-offset-1 {
		margin-left: 8.33333333%;
	}

	.col-sm-offset-0 {
		margin-left: 0%;
	}
}
@media ( min-width: 992px ) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
	}

	.col-md-12 {
		width: 100%;
	}

	.col-md-11 {
		width: 91.66666667%;
	}

	.col-md-10 {
		width: 83.33333333%;
	}

	.col-md-9 {
		width: 75%;
	}

	.col-md-8 {
		width: 66.66666667%;
	}

	.col-md-7 {
		width: 58.33333333%;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-5 {
		width: 41.66666667%;
	}

	.col-md-4 {
		width: 33.33333333%;
	}

	.col-md-3 {
		width: 25%;
	}

	.col-md-2 {
		width: 16.66666667%;
	}

	.col-md-1 {
		width: 8.33333333%;
	}

	.col-md-pull-12 {
		right: 100%;
	}

	.col-md-pull-11 {
		right: 91.66666667%;
	}

	.col-md-pull-10 {
		right: 83.33333333%;
	}

	.col-md-pull-9 {
		right: 75%;
	}

	.col-md-pull-8 {
		right: 66.66666667%;
	}

	.col-md-pull-7 {
		right: 58.33333333%;
	}

	.col-md-pull-6 {
		right: 50%;
	}

	.col-md-pull-5 {
		right: 41.66666667%;
	}

	.col-md-pull-4 {
		right: 33.33333333%;
	}

	.col-md-pull-3 {
		right: 25%;
	}

	.col-md-pull-2 {
		right: 16.66666667%;
	}

	.col-md-pull-1 {
		right: 8.33333333%;
	}

	.col-md-pull-0 {
		right: auto;
	}

	.col-md-push-12 {
		left: 100%;
	}

	.col-md-push-11 {
		left: 91.66666667%;
	}

	.col-md-push-10 {
		left: 83.33333333%;
	}

	.col-md-push-9 {
		left: 75%;
	}

	.col-md-push-8 {
		left: 66.66666667%;
	}

	.col-md-push-7 {
		left: 58.33333333%;
	}

	.col-md-push-6 {
		left: 50%;
	}

	.col-md-push-5 {
		left: 41.66666667%;
	}

	.col-md-push-4 {
		left: 33.33333333%;
	}

	.col-md-push-3 {
		left: 25%;
	}

	.col-md-push-2 {
		left: 16.66666667%;
	}

	.col-md-push-1 {
		left: 8.33333333%;
	}

	.col-md-push-0 {
		left: auto;
	}

	.col-md-offset-12 {
		margin-left: 100%;
	}

	.col-md-offset-11 {
		margin-left: 91.66666667%;
	}

	.col-md-offset-10 {
		margin-left: 83.33333333%;
	}

	.col-md-offset-9 {
		margin-left: 75%;
	}

	.col-md-offset-8 {
		margin-left: 66.66666667%;
	}

	.col-md-offset-7 {
		margin-left: 58.33333333%;
	}

	.col-md-offset-6 {
		margin-left: 50%;
	}

	.col-md-offset-5 {
		margin-left: 41.66666667%;
	}

	.col-md-offset-4 {
		margin-left: 33.33333333%;
	}

	.col-md-offset-3 {
		margin-left: 25%;
	}

	.col-md-offset-2 {
		margin-left: 16.66666667%;
	}

	.col-md-offset-1 {
		margin-left: 8.33333333%;
	}

	.col-md-offset-0 {
		margin-left: 0%;
	}
}
@media ( min-width: 1200px ) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float: left;
	}

	.col-lg-12 {
		width: 100%;
	}

	.col-lg-11 {
		width: 91.66666667%;
	}

	.col-lg-10 {
		width: 83.33333333%;
	}

	.col-lg-9 {
		width: 75%;
	}

	.col-lg-8 {
		width: 66.66666667%;
	}

	.col-lg-7 {
		width: 58.33333333%;
	}

	.col-lg-6 {
		width: 50%;
	}

	.col-lg-5 {
		width: 41.66666667%;
	}

	.col-lg-4 {
		width: 33.33333333%;
	}

	.col-lg-3 {
		width: 25%;
	}

	.col-lg-2 {
		width: 16.66666667%;
	}

	.col-lg-1 {
		width: 8.33333333%;
	}

	.col-lg-pull-12 {
		right: 100%;
	}

	.col-lg-pull-11 {
		right: 91.66666667%;
	}

	.col-lg-pull-10 {
		right: 83.33333333%;
	}

	.col-lg-pull-9 {
		right: 75%;
	}

	.col-lg-pull-8 {
		right: 66.66666667%;
	}

	.col-lg-pull-7 {
		right: 58.33333333%;
	}

	.col-lg-pull-6 {
		right: 50%;
	}

	.col-lg-pull-5 {
		right: 41.66666667%;
	}

	.col-lg-pull-4 {
		right: 33.33333333%;
	}

	.col-lg-pull-3 {
		right: 25%;
	}

	.col-lg-pull-2 {
		right: 16.66666667%;
	}

	.col-lg-pull-1 {
		right: 8.33333333%;
	}

	.col-lg-pull-0 {
		right: auto;
	}

	.col-lg-push-12 {
		left: 100%;
	}

	.col-lg-push-11 {
		left: 91.66666667%;
	}

	.col-lg-push-10 {
		left: 83.33333333%;
	}

	.col-lg-push-9 {
		left: 75%;
	}

	.col-lg-push-8 {
		left: 66.66666667%;
	}

	.col-lg-push-7 {
		left: 58.33333333%;
	}

	.col-lg-push-6 {
		left: 50%;
	}

	.col-lg-push-5 {
		left: 41.66666667%;
	}

	.col-lg-push-4 {
		left: 33.33333333%;
	}

	.col-lg-push-3 {
		left: 25%;
	}

	.col-lg-push-2 {
		left: 16.66666667%;
	}

	.col-lg-push-1 {
		left: 8.33333333%;
	}

	.col-lg-push-0 {
		left: auto;
	}

	.col-lg-offset-12 {
		margin-left: 100%;
	}

	.col-lg-offset-11 {
		margin-left: 91.66666667%;
	}

	.col-lg-offset-10 {
		margin-left: 83.33333333%;
	}

	.col-lg-offset-9 {
		margin-left: 75%;
	}

	.col-lg-offset-8 {
		margin-left: 66.66666667%;
	}

	.col-lg-offset-7 {
		margin-left: 58.33333333%;
	}

	.col-lg-offset-6 {
		margin-left: 50%;
	}

	.col-lg-offset-5 {
		margin-left: 41.66666667%;
	}

	.col-lg-offset-4 {
		margin-left: 33.33333333%;
	}

	.col-lg-offset-3 {
		margin-left: 25%;
	}

	.col-lg-offset-2 {
		margin-left: 16.66666667%;
	}

	.col-lg-offset-1 {
		margin-left: 8.33333333%;
	}

	.col-lg-offset-0 {
		margin-left: 0%;
	}
}
/*@media ( min-width: var( --grid-breakpoint-md ) ) {*/
/*.col-xs-hidden {*/
/*display: block;*/
/*}*/
/*}*/
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main { /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details, /* 1 */
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	background-color: #eaecf0; /* FIXME: var; */
	color: #222;
	margin: 0;
	font-family: 'Lato', sans-serif; /* FIXME */
	font-size: 1.6rem;
	line-height: 1.6;
}
/* ::: Text Block-Level Elements ::: */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 3.2rem 0 0;
	line-height: 1.25;
	-webkit-transition: font-size 250ms, font-weight 250ms;
	-moz-transition: font-size 250ms, font-weight 250ms;
	transition: font-size 250ms, font-weight 250ms;
}
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}
h1 {
	font-family: 'Charter', serif; /* FIXME */
	font-size: 3.2rem;
	font-weight: 400;
}
h2 {
	font-size: 2.2rem;
}
h3 {
	font-size: 2rem;
}
p {
	margin: 3.2rem 0 0;
	line-height: 1.5;
}
h1 + p,
	h2 + p,
	h3 + p,
	h4 + p,
	h5 + p,
	h6 + p,
	p + p,
	p:first-child {
		margin: 0.8rem 0 0;
	}
figure {
	margin: 0.8rem 0 0;
}
img {
	display: block;
	max-width: 100%;
	margin: 1.6rem 0 0;
}
/* ::: Inline Elements ::: */
a {
	color: #36c;
	text-decoration: none;
}
a:hover {
		text-decoration: underline;
	}
a:active {
		color: #2a4b8d;
	}
code {
	background-color: #f8f9fa;
	display: inline-block;
	padding: 0.2rem 0.4rem;
	font-size: 1.4rem;
}
/* ::: General Classes ::: */
/* ::: Text for Screen Readers only ::: */
.is-aural {
	display: block;
	position: absolute;
	clip: rect( 1px, 1px, 1px, 1px );
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	overflow: hidden;
}
.is-aural.is-focusable:active,
	.is-aural.is-focusable:focus {
		position: static;
		clip: auto;
		width: auto;
		height: auto;
		margin: 0;
		text-decoration: underline;
		overflow: visible;
	}
.clearfix:before,
.clearfix:after,
.content-box:before,
.content-box:after {
	content: ' ';
	display: table;
}
.clearfix:after,
.content-box:after {
	clear: both;
}
.col-xs-hidden {
	display: block;
}
/* ::: Structure ::: */
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	min-height: 6.4rem;
	line-height: 6.4rem;
}
.col-sm-5 {
		text-align: right;
	}
.site__title {
		color: #222; /* --color-base-emphasized */
		margin-top: 0;
		height: 6.4rem;
		font-family: 'Lato', sans-serif; /* FIXME: var() */
		font-size: 1.3rem;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
.site__title a {
			color: inherit;
			display: inline-block;
			line-height: 60px;
			height: 6.4rem;
		}
.site__title a:hover {
			color: #222;
			text-decoration: none;
			-webkit-transition: color 250ms;
			-moz-transition: color 250ms;
			transition: color 250ms;
		}
.site__logo {
			background-image: url( '../img/Wikimedia-Foundation-logo.svg' ); /* stylelint-disable-line function-url-quotes */
			-webkit-background-size: 24px 24px;
			   -moz-background-size: 24px;
			        background-size: 24px;
			display: inline-block;
			width: 24px;
			height: 24px;
			margin-bottom: 6px;
			margin-right: 10px;
			vertical-align: middle;
		}
/* ... Navbar ... */
.header-navbar {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
	}
.header-navbar label {
		position: absolute;
		top: 1em;
		left: 1em;
		cursor: pointer;
	}
.header-navbar span {
		position: relative;
		width: 2em;
		height: 2em;
		-webkit-transition: 250ms;
		-moz-transition: 250ms;
		transition: 250ms;
	}
/** Fake hamburger icon **/
.header-navbar span:before,
	.header-navbar span:after {
		content: '';
		background: #54595d;
		width: 2em;
		height: 2px;
		position: absolute;
		top: 8px;
		left: 0;
	}
.header-navbar span:after {
		top: 20px;
	}
/** List of items **/
.header-navbar nav {
		background-color: #f8f9fa;
		display: none;
		margin-top: 6.4rem;
	}
.header-navbar ol,
	.header-navbar ul {
		padding: 0;
	}
.header-navbar li:not( .is-on ) ul,
	.header-navbar-boolean,
	.hidden-desktop {
		display: none;
	}
.header-navbar li {
		padding: 0;
		list-style: none none;
	}
.header-navbar nav a {
		color: #54595d;
		display: block;
		-webkit-transition: 250ms;
		-moz-transition: 250ms;
		transition: 250ms;
		padding: 0.5em 1em;
	}
.header-navbar nav a:hover {
		color: #222;
	}
.header-navbar nav li.is-on a {
		color: #222;
		font-weight: 700;
	}
.header-navbar nav li:hover {
		background-color: #fff;
	}
.lnk--contribute {
		font-size: 1.4rem;
	}
/* ... Content ... */
.page {
	background-color: #fff;
	position: relative;
	margin-top: 6.4rem;
	padding: 6.4rem 0;
	-webkit-box-shadow: 0 1px 4px 0 rgba( 0, 0, 0, 0.25 );
	   -moz-box-shadow: 0 1px 4px 0 rgba( 0, 0, 0, 0.25 );
	        box-shadow: 0 1px 4px 0 rgba( 0, 0, 0, 0.25 );
}
/*
.content-box {
	max-width: 96rem; FIXME: we're getting above 75 chars per line on widescreen
}
*/
.content {
	float: left;
}
/* ... Table of contents (sidebar) ... */
.toc {
	margin-top: 0.8rem;
}
.toc ol,
.toc ul {
	padding: 0;
}
.toc ol:first-child {
	margin: 0;
}
.toc li {
	list-style: none none;
}
.toc li:not( .is-on ) ul {
	display: none;
}
.toc a {
	color: #222;
	display: block;
	padding: 0.8rem 1.2rem;
	font-size: 1.6rem;
	text-decoration: none;
	-webkit-transition: background-color 250ms, color 250ms;
	-moz-transition: background-color 250ms, color 250ms;
	transition: background-color 250ms, color 250ms;
}
.toc a:hover,
.toc a:focus {
	background-color: #f8f9fa;
	color: #000;
}
.toc .is-on > a {
	background-color: #eaf3ff;
	color: #36c;
	/* border-left: 2px solid var( --color-primary ); */
	-moz-border-radius: 2px;
	     border-radius: 2px;
	cursor: default;
	pointer-events: none;
}
.toc__sub-sections {
	margin-top: 1.2rem;
	margin-bottom: 1em; /* FIXME: replace with rem and mt */
}
.toc__sub-sections li {
	margin-left: 1em;
}
.toc__sub-sections a { /* stylelint-disable-line no-descending-specificity */
	color: #54595d;
	border-left: 1px solid #eaecf0;
	padding-left: 2.4rem;
	font-size: 1.4rem;
	-webkit-transition: background-color 250ms, color 250ms;
	-moz-transition: background-color 250ms, color 250ms;
	transition: background-color 250ms, color 250ms;
}
.toc > ol > li,
.toc > ul > li {
	margin-bottom: 0.4rem;
}
/* ::: Content ::: */
.page__title {
	margin-top: -0.8rem;
}
/* ... Color ... */
.color-palette {
	margin-top: 2.4rem;
}
.color-palette ol {
	margin: 0;
	padding: 0;
}
.color {
	color: #000;
	list-style: none none;
	display: inline-block;
	margin-bottom: 3.2rem;
	border: 1px solid #a2a9b1;
	-moz-border-radius: 2px;
	     border-radius: 2px;
}
.color--dark,
	.color__wcag-level span {
		color: #fff;
	}
.color__name {
		font-weight: 700;
	}
.color__wcag-level {
		display: block;
		position: absolute;
		bottom: 1.2rem;
		left: 1.2rem;
	}
.color__swatch {
		position: relative;
		height: 16rem;
		padding: 1.2rem;
		font-size: 1.4rem;
	}
.color__codes {
		color: #222;
		padding: 1.2rem;
	}
.color-code {
		background-color: inherit;
		display: block;
		padding: 0;
		font-family: 'Lato', sans-serif;
	}
/* ::: Footer ::: */
.footer {
	color: #54595d;
	clear: both;
	padding: 2.4rem 0;
	font-size: 1.2rem;
	font-weight: 400;
}
.footer__list {
	margin: 0;
	padding: 0;
}
.footer__list li {
	float: left;
	margin-left: 2.4rem;
	padding: 0;
}
.footer__list li:first-child {
	list-style: none none;
	margin-left: 0;
}
.footer__list a {
	font-weight: 700;
}
.lnk--wikimedia-project {
	/* color: var( --wmui-color-base20 ); */
	display: inline-block;
	padding: 0.4rem 0;
	text-transform: uppercase;
}
/* ::: Media Queries ::: */
/* Portrait tablet to landscape and desktop */
@media ( min-width: 768px ) and ( max-width: 979px ) {
	.box {
		width: 49%;
	}

	ul li:nth-child( 3 ) .box {
		clear: both;
	}

	ul li:nth-child( 2n ) .box {
		clear: right;
		margin-right: 0;
	}
}
/* Landscape phones and down */
@media ( max-width: 767px ) {
	.hidden-desktop {
		display: block;
	}

	.header-navbar nav {
		display: block;
		height: 0;
		overflow: hidden;
		-webkit-transition: 250ms;
		-moz-transition: 250ms;
		transition: 250ms;
	}

	.header-navbar-boolean:checked + nav {
		height: 12em;
	}

	.header-navbar nav > a {
		display: block;
		border-bottom: 1px solid rgba( 255, 255, 255, 0.1 );
		padding: 0 1em;
	}

	.header-left,
	.header-right {
		width: 100%;
		text-align: center;
	}
}
@media ( max-width: 720px ) { /* FIXME */
	.col-xs-hidden {
		display: none;
	}

	.site__title {
		font-weight: 700;
		text-align: center;
	}
}
@media ( max-width: 576px ) {
	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.8rem;
	}

	.page__title {
		font-size: 2.4rem;
		font-weight: 700;
	}

	figure {
		margin-left: -1.6rem;
		margin-right: -1.6rem;
	}
}
@media ( min-width: 320px ) {
	.color {
		width: 100%;
	}
}
@media ( min-width: 415px ) {
	.color {
		width: 18rem;
		margin-right: 2.4rem;
	}

	.color:nth-child( 2n ) {
		margin-right: 0;
	}
}
@media ( min-width: 992px ) {
	.color {
		width: 20rem;
		margin-right: 2.4rem;
	}
	.color:nth-child( 2n ) {
		margin-right: 2.4rem;
	}
	.color:nth-child( 3n ) {
		margin-right: 0;
	}
}
