{{> partials/head}}
{{> partials/header}}
<div class="content-paper">
    <div class="content-box container">

        <div class="row">
            <div class="col-xs-hidden col-sm-4 col-md-3">
                {{> partials/nav}}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-md-offset-0">


                <main id="content" class="content" role="main">
                    <h1>Components</h1>

                    <!--</section>-->
                </main>

            </div>
        </div>
    </div>
{{> partials/footer}}
{{> partials/foot}}
