@font-face {
	font-family: 'Charter';
	src: url( '../fonts/Charter_regular.woff2' ) format( 'woff2' ),
		 url( '../fonts/Charter_regular.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 400;
	text-rendering: optimizeLegibility; /* Attention: Android Stock Browser <= 4.3 doesn't show web font with this setting, but it also doesn't support WOFF :) */
}

@font-face {
	font-family: 'Charter';
	src: url( '../fonts/Charter_bold.woff2' ) format( 'woff2' ),
		 url( '../fonts/Charter_bold.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 700;
	text-rendering: optimizeLegibility;
}

/*
@font-face {
	font-family: 'Charter';
	src: url( '../fonts/Charter_italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Charter_italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}
@font-face {
	font-family: 'Charter';
	src: url( '../fonts/Charter_bold-italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Charter_bold-italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 700;
	text-rendering: optimizeLegibility;
}
*/

/*
@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_black.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_black.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 900;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_black-italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_black-italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 900;
	text-rendering: optimizeLegibility;
}
*/

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_bold.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_bold.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 700;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_bold-italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_bold-italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 700;
	text-rendering: optimizeLegibility;
}

/*
@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_hairline.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_hairline.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 100;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_hairline-italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_hairline-italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 100;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_heavy.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_heavy.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 800;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_heavy-italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_heavy-italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 800;
	text-rendering: optimizeLegibility;
}
*/

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_light.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_light.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_light-italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_light-italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

/*
@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_medium.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_medium.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 500;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_medium-italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_medium-italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 500;
	text-rendering: optimizeLegibility;
}
*/

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_regular.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_regular.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}

/*
@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_semi-bold.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_semi-bold.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 600;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_semi-bold-italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_semi-bold-italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 600;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_thin.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_thin.woff' ) format( 'woff' );
	font-style: normal;
	font-weight: 200;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url( '../fonts/Lato_thin-italic.woff2' ) format( 'woff2' ),
		 url( '../fonts/Lato_thin-italic.woff' ) format( 'woff' );
	font-style: italic;
	font-weight: 200;
	text-rendering: optimizeLegibility;
}
*/
