<!DOCTYPE html>
<html lang="en" class="js--off">
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta property="og:title" content="Components: Buttons - Wikimedia Design Style Guide (WikimediaUI)">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://design.wikimedia.org/style-guide/components/buttons.html">
	<meta property="og:image" content="https://design.wikimedia.org/style-guide/img/components/TODO.png">
	<link rel="stylesheet" href="../css/build/wmui-style-guide.min.css">
	<title>Components: Buttons – Wikimedia Design Style Guide</title>
	<script>
		document.documentElement.className = document.documentElement.className.replace(/\bjs--off\b/,'js--on');
	</script>
	<!--[if lt IE 9]>
	<script>window.html5={'shivCSS':false};</script>
	<script src="../js/vendor/ie/html5shiv-3.7.3.min.js"></script>
	<![endif]-->
	<link rel="dns-prefetch" href="https://piwik.wikimedia.org/">
	<link rel="preload" href="../fonts/Charter_regular.woff2" as="font" type="font/woff2" crossorigin>
	<script src="../js/wikimedia-design-style-guide.min.js" async></script>
</head>
<body class="page--components page--components-buttons" vocab="http://schema.org/" typeof="WebPage">
	<header id="header" class="header" role="banner">
		<div class="content-box">
			<a href="#content" class="is-aural is-focusable">Jump to content</a>
			<a href="#nav--main" class="is-aural is-focusable">Jump to navigation</a>
			<h6 class="site__title"><a href="./"><span class="site__org">Wikimedia </span><span class="site__project">Design Style Guide</span></a></h6>
			<label class="btn--nav-main" for="trigger--nav-main" aria-hidden="true" title="Show main menu">
				<i></i> <span>Menu</span>
			</label>
			<a href="https://github.com/wikimedia/WikimediaUI-Style-Guide" class="lnk--contribute" title="Fork and contribute on GitHub"><span>Contribute on </span>GitHub</a>
		</div>
	</header>
	<div class="page">
		<div class="content-box">
			<div class="col col--start">
				<input type="checkbox" id="trigger--nav-main" class="trigger--nav-main">
				<nav id="nav--main" class="nav nav--main" role="navigation">
					<ol>
						<li class="nav__item"><a href="../index.html">Introduction</a></li>
						<li class="nav__item"><a href="../design-principles.html">Design principles</a></li>
						<li class="nav__item"><a href="../visual-style.html">Visual style</a>
							<ul class="nav__sub-items">
								<li class="nav__sub-item"><a href="../visual-style.html">Principles</a></li>
								<li class="nav__sub-item"><a href="../visual-style_colors.html">Colors</a></li>
								<li class="nav__sub-item"><a href="../visual-style_typography.html">Typography</a></li>
								<li class="nav__sub-item"><a href="../visual-style_icons.html">Icons</a></li>
								<li class="nav__sub-item is-on"><a href="../visual-style_images.html">Images</a></li>
								<li class="nav__sub-item"><a href="../visual-style_illustrations.html">Illustrations</a></li>
							</ul>
						</li>
						<li class="nav__item is-on"><a href="links.html">Components</a>
							<ul class="nav__sub-items">
								<li class="nav__sub-item is-on"><a href="links.html">Actions</a>
									<ul>
										<li class="nav__sub-item"><a href="links.html">Links</a></li>
										<li class="nav__sub-item is-on"><a href="buttons.html">Buttons</a></li>
									</ul>
								</li>
								<li class="nav__sub-item"><a href="checkboxes.html">
								Selection</a>
									<ul>
										<li class="nav__sub-item"><a href="checkboxes.html">Checkboxes</a></li>
										<li class="nav__sub-item"><a href="radio-buttons.html">Radio Buttons</a></li>
										<li class="nav__sub-item"><a href="dropdowns.html">Dropdowns</a></li>
									</ul>
								</li>
								<li class="nav__sub-item"><a href="text-inputs-and-textarea.html">
								Entry</a>
									<ul>
										<li class="nav__sub-item"><a href="text-inputs-and-textarea.html">Text inputs and textarea</a></li>
									</ul>
								</li>
								<li class="nav__sub-item"><a href="messages.html">Display</a>
									<ul>
										<li class="nav__sub-item"><a href="messages.html">Messages</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<!-- <li><a href="../patterns.html">Patterns</a></li> -->
						<li><a href="../resources.html">Resources</a></li>
					</ol>
				</nav>
			</div>
			<div class="col col--end">
				<main id="content" class="content" role="main">
					<div class="page__parent-title">Components</div>
					<h1 class="page__title">Buttons</h1>
						<p class="page__lead">Buttons signal an action that will occur when the user taps on them. Buttons can include an icon, a label, an action icon (dropdown) or any mixture of the three. Buttons may have multiple states and classes to communicate how they can be interacted with by the user and what action they represent.</p>

						<p>The provided styles ensure that enabled buttons look clickable and are accessible to all users. The button styles were designed that accessible color variations are used to distinguish the button’s various states (eg. disabled, hover, active).</p>

						<h2>Using buttons</h2>
						<p>Buttons must carry a label. In case of icon only buttons, it will become available only to screen reader users. They can carry an icon or an indicator.</p>

						<h2>Designing</h2>
						<!--figure class="text-input-anatomy-TODO">
							<img src="../img/components/Text_Input.svg" onerror="this.src='../img/components/Text_Input@2x.png'" alt="Text input field visual design and states">
							<figcaption class="figure__caption"></figcaption>
						</figure-->
						<p><strong>Label</strong><br>
							Button labels should be as short as possible, with text that clearly states what action will be taken once the button is pressed (eg. download, submit form, search). </p>
						<p><strong>Icon</strong><br>
							Icons are used to simplify user recognition and provide ability to shorten button label to a minimum.
						</p>
						<p><strong>Indicator</strong><br>
							Indicators are special icons that are reserved for a small number of use cases, most prominently on buttons with additional menus attached signified by a down indicator.
						</p>

						<p></p>
						<p><strong>Normal buttons (framed) and quiet buttons (frameless)</strong><br>
						Normal framed buttons should be the default choice.
						</p>

						<h2>States of buttons</h2>
						<p>Buttons have following visually separate states: </p>
						<figure class="buttons__states">
							<img src="../img/components/Buttons_Normal_&_Primary.svg" onerror="this.src='../img/components/Buttons_Normal_&_Primary@2x.png'" alt="Buttons states">
							<figcaption class="figure__caption"></figcaption>
						</figure>

						<h2>Types</h2>
						<h3>Primary buttons</h3>
						<p></p>

						<h3>Button groups</h3>
						<figure class="buttons__states">
							<img src="../img/components/Button_Group.svg" onerror="this.src='../img/components/Button_Group@2x.png'" alt="Buttons states">
							<figcaption class="figure__caption"></figcaption>
						</figure>
						<h3>Toggle buttons</h3>
				</main>
			</div>
		</div>
	</div>
	<footer id="footer" class="footer">
		<div class="content-box">
			<ul class="footer__list">
				<li><a href="https://github.com/wikimedia/WikimediaUI-Style-Guide">Contribute on GitHub</a></li>
				<li><a href="https://twitter.com/@WikimediaUX" title="Follow Wikimedia User Experience team account on Twitter">Follow @WikimediaUX</a></li>
				<li><a href="https://lists.wikimedia.org/mailman/listinfo/design" title="Join Wikimedia Design mailing list">Join mailing list</a></li>
			</ul>
			<p>Text is available under the <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener" property="license">Creative Commons Attribution-ShareAlike 4.0 International</a>, additional terms may apply. <br>Code is available under the MIT license.</p>
			<p><a href="https://foundation.wikimedia.org/wiki/Non-wiki_privacy_policy">Privacy policy</a></p>
			<p><a href="https://foundation.wikimedia.org/" class="lnk--wikimedia-project" property="author" typeof="Organization">A Wikimedia Foundation project</a></p>
			<noscript><p><img src="https://piwik.wikimedia.org/piwik.php?idsite=16&rec=1" alt=""></p></noscript>
		</div>
	</footer>
</body>
</html>
