@import 'vendor/wmui-base.css';
@import 'partials/fonts.css';
@import 'vendor/normalize.css';
@import 'partials/grid.css';
@import 'partials/toc.css';
@import 'partials/navbar.css';

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var( --background-color-base );
	color: var( --color-base );
	margin: 0;
	font-family: 'Lato', sans-serif; /* FIXME */
	font-size: 1.6rem;
	line-height: var( --line-height-base );
}

/* ::: Text Block-Level Elements ::: */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
	font-family: 'Charter', serif; /* FIXME */
	font-weight: normal; /* FIXME */
}

p {
	/*margin: 1.6rem 0 0;*/
	margin: 3.6rem 0 0;
}
	h1 + p,
	h2 + p,
	h3 + p,
	h4 + p,
	h5 + p,
	h6 + p,
	p + p,
	p + div,
	div + p,
	p:first-child {
		margin: 1.8rem 0 0;
	}

img {
	display: block;
	max-width: 100%;
}

/* ::: Inline Elements ::: */
a {
	color: var( --color-primary );
	text-decoration: none;
}

code {
	background-color: var( --background-color-code );
	display: inline-block;
	padding: 0.2rem 0.4rem;
}

/* ::: General Classes ::: */
/* ::: Text for Screen Readers only ::: */
.is-aural {
	display: block;
	position: absolute;
	clip: rect( 1px, 1px, 1px, 1px );
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	overflow: hidden;
}
	.is-aural.is-focusable:active,
	.is-aural.is-focusable:focus {
		position: static;
		clip: auto;
		width: auto;
		height: auto;
		margin: 0;
		text-decoration: underline;
		overflow: visible;
	}


/* ::: Structure ::: */
.header {
	background-color: var( --wmui-color-base80 );
	min-height: 60px;
	line-height: 60px;
}
	.site__title {
		margin-top: 0;

		color: var( --wmui-color-base30 );
		font-family: 'Lato';
		font-size: 13px;
		font-weight: bold;
		letter-spacing: 1px;
		height: 60px;
		text-transform: uppercase;
	}
	.site__title a {
		color: var( --wmui-color-base30 );
		line-height: 60px;
		height: 60px;
		display: inline-block;
	}
	.site__title a:hover {
		color: var( --wmui-color-base10 );
		transition: color var( --transition-medium );
	}
	.wikimedia-logo {
		background-image: url( '../img/wmflogo.svg' ); /* stylelint-disable-line function-url-quotes */
		background-size: 24px;

		display: inline-block;
		width: 24px;
		height: 24px;

		vertical-align: middle;
		margin-bottom: 6px;
		margin-right: 10px;
	}
	.tright {
		text-align: right;
	}

.content-paper {
	box-shadow: 0 1px 4px 0 rgba( 0, 0, 0, 0.2 );
	padding-top: 3em;
}

.content {
	font-family: 'Lato-Light', sans-serif; /* FIXME */
}

.footer {
	clear: both;
	color: var( --wmui-color-base20 );
	padding-bottom: 1.4rem;
	padding-top: 3.4rem;

	font-size: 1.2rem;
	text-align: center;
}
