.page .nav--main .is-on > a {
	cursor: pointer;
	pointer-events: auto;
}

	h1 + p,
	h2 + p,
	h3 + p,
	h4 + p,
	h5 + p,
	h6 + p,
	p + p,
	p:first-child {
		margin-top: 1.2rem;
	}


/* ... Featured Projects ... */
.features {
	margin-top: 1.6em;
	border-color: var( --border-color-heading );
	border-style: solid;
	border-width: var( --border-width-base ) 0;
}

	.features h2 {
		color: var( --color-base--subtle );
		margin-top: 1.6em;
		font-size: 1.4rem;
		font-weight: 400;
	}

.list--features {
	position: relative;
	margin: 2.4rem 0 0;
	padding: 0 0 0.8rem;
}

	.list--features:after {
		content:' ';
		display: block;
		clear: both;
	}

.feature {
	color: var( --color-base--emphasized );
	list-style: none none;
	display: inline-block;
	margin-bottom: 4rem;
	border-radius: var( --border-radius-base );
}

	.feature__card {
		color: var( --color-base );
		display: block;
	}

	.feature__card:hover {
		text-decoration: none;
	}

	.feature__card--title {
		margin-top: 0;
		font-family: var( --font-family-serif--fallback ); /* Fallback */
		font-size: 2.4rem;
		font-weight: var( --font-weight-base );
	}

	.feature__card--desc {
		color: var( --color-base );
		display: block;
		margin-top: 0.8rem;
		font-size: 1.4rem;
		line-height: 1.6;
	}

	.feature__card--desc:after {
		content: 'Read more';
		color: var( --color-primary );
		display: block;
		margin-top: 1.2rem;
	}

	.feature__card:hover .feature__card--desc:after {
		text-decoration: underline;
	}


/* ... Team List ... */
.list--team {
	margin: 2.4rem 0 0;
	padding: 0;
}

	.list--team:after {
		content:' ';
		display: block;
		clear: both;
	}

.member {
	color: var( --color-base--emphasized );
	list-style: none none;
	display: inline-block;
	max-width: 28.8rem;
	margin-bottom: 3.2rem;
	border-radius: var( --border-radius-base );
	vertical-align: top;
}

	.member__picture {
		position: relative;
		padding-bottom: 1.2rem;
		font-size: 1.4rem;
	}

		.member__picture a {
			display: block;
			border-radius: var( --border-radius-base );
			overflow-y: hidden;
			filter: grayscale( 1 );
			transition: filter var( --transition-medium );
		}

		.member__picture img {
			display: block;
			margin: 0;
			border-radius: var( --border-radius-base );
		}

	.member__desc {
		font-size: 1.4rem;
	}

		.member__desc--title {
			color: var( --color-base--subtle );
			display: block;
			font-style: italic;
		}

/* ... Publications ... */
.publications li {
	margin-top: 1.2rem;
}
	.publications li:first-child {
		margin-top: 0;
	}


/* ::: Media Queries ::: */
/* ... Smartphone portrait ... */
@media ( min-width: 240px ) {
	.lnk--contribute {
		opacity: 0;
		transition: opacity var( --transition-medium );
	}

	.member,
	.feature {
		width: 100%;
	}
}

/* ... Smartphone+ portrait ... */
@media ( min-width: 414px ) {
	.member,
	.feature {
		width: auto;
		margin-right: 2.4rem;
	}

	.feature {
		width: 18rem;
	}

	/*
	.member:nth-child( 2n ),
	.feature:nth-child( 2n ) {
		margin-right: 0;
	}
	*/
}

/* ... Smartphone- landscape ... */
@media ( min-width: 595px ) {
	.lnk--contribute {
		opacity: 1;
	}

	.member {
		max-width: 21.2rem; /* = 28.8 - 1/4 */
	}

		.member__picture a {
			max-height: 14.2rem;
		}

	.feature__card--desc:after {
		position: absolute;
		bottom: 1.6rem;
		margin-top: 0;
	}
}

/* ... Tablet ... */
@media ( min-width: 768px ) {
	.member__picture a {
		max-height: 13.4rem;
	}

	.member__picture a:hover {
		filter: grayscale( 0 );
	}

	.feature__card--desc:after {
		position: static;
		bottom: auto;
		margin-top: 1.2rem;
	}
}

/* ... Tablet+ / Netbook ... */
@media ( min-width: 992px ) {
	.member,
	.feature {
		display: block;
		float: left;
		width: 20rem;
		margin-right: 2.4rem;
	}

	.member:nth-child( 2n ),
	.feature:nth-child( 2n ) {
		margin-right: 2.4rem;
	}

	.member:nth-child( 3n ),
	.feature:nth-child( 3n ) {
		margin-right: 0;
	}

	.member:nth-child( 3n+1 ),
	.feature:nth-child( 3n+1 ) {
		clear: left;
	}

	.feature__card--desc:after {
		position: absolute;
		bottom: 1.6rem;
		margin-top: 0;
	}
}
